In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("teste.xlsx")

In [3]:
df.head()

   3D_ERROR(m)
0       1.7964
1       0.7772
2       0.7526
3       1.1514
4       1.1399

In [4]:
df.mean()

3D_ERROR(m)    0.252742
dtype: float64

In [5]:
df.std()

3D_ERROR(m)    0.03313
dtype: float64