In [4]:
import pandas as pd

In [34]:
df = pd.read_excel("pifl0011.xlsx")

In [35]:
df.head()

   3D_ERROR(m)
0       1.7964
1       0.7772
2       0.7526
3       1.1514
4       1.1399

In [37]:
df.dtypes

3D_ERROR(m)    float64
dtype: object

In [42]:
df.mean()

3D_ERROR(m)    0.824973
dtype: float64

In [41]:
df.to_excel("novo_teste.xlsx", index=False)

In [44]:
df.std()

3D_ERROR(m)    0.416229
dtype: float64

In [45]:
df.to_excel("novo_teste.xlsx", index=False)